[user]
	name = qluo_mac
	email = luoqi754@gmail.com
	password = Aa1849639437@
[color]
	ui = true
[alias]
	save = commit -a -m "Save"
	co = checkout
    logs = log --all --graph --decorate --oneline
    s = status
    b = branch
    aa = add .
    ps=push
    pl=pull	
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/qluo/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
